.hero{
    height: 700px;
    background-image: url("https://img.freepik.com/free-photo/tabletop-looking-out-market_23-2147701294.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@media(max-width: 500px){
    .hero{
        height: 500px;
    }
}